body {
    background-color: lightcoral;
}


p{
    background-color: antiquewhite;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}



.left {
    float: left;
    height: 100%;
    width: 20%;
    margin-bottom: 100px;
}
